ParametirizedRep/pipeline/IVAPPsubfolders.json
{
	"name": "IVAPPsubfiles",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@pipeline().parameters.foldernamep2",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'voice')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Metadata2",
										"type": "GetMetadata",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DelimitedText1",
												"type": "DatasetReference",
												"parameters": {
													"foldername": {
														"value": "@variables('foldername2')",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"exists"
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "foldername2",
								"value": {
									"value": "@concat(pipeline().parameters.foldernamep2,'/',item().name)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"foldernamep2": {
				"type": "string"
			}
		},
		"variables": {
			"foldername2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}